.col-sm-6, .col-lg-4 {
    padding: 0px;
    margin: 0px;
}

@media (min-width: 1200px){
    .col-lg-4 {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .products {
        margin: 0px 150px 0px 150px;
    }
}